{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ profile.name }}'s Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <!-- {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %} -->
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <h3 href="#" class="logo">Chaitanya's Profile</h3>
        <ul class="nav-links">
          <li><a class="unique-button" href="{% url 'logout' %}">Logout</a></li>
          <li>
            <a class="unique-button" href="{% url 'update_profile' %}"
              >Edit Profile</a
            >
          </li>
          <li>
            <a class="unique-button" href="{% url 'resume' %}">View Resume</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="profile-header">
        <div class="right">
          <h2>{{ user.name }}</h2>
          <p>
            <b>
              👨‍💻{{ user.position }} |📥 {{ user.email }} |🤙 {{ user.phone }}
            </b>
          </p>
          <p class="bio">{{ user.bio }}</p>
          <div class="btns">
            <a class="unique-button"> download CV </a>
            <a class="unique-button"> Connect with me </a>
          </div>
        </div>
        <div class="left">
          <!-- <img
            src="{{ user.profile.url }}"
            alt="{{ profile.name }}'s Profile Picture"
          /> -->
          <img
            src="{% static 'images/home-right.png' %}"
            alt="Profile Picture"
          />
        </div>
      </div>
    </div>

    <div class="info">
      <!-- <div class="img">
        <img
          src="{% static 'images/resume-bg.jpg' %}"
          alt="Background Image"
        />
      </div> -->
      <div class="section-content personal">
        <div class="right">
          <div class="section-title">👤 Personal Information</div>
          <p><b>Full Name</b> {{ user.name }}</p>
          <p><b>Email</b> {{ user.email }}</p>
          <p><b>Phone</b> {{ user.phone }}</p>
          <!-- <p><b>Resume Link:</b> {{ user.resume }}</p>
        <p><b>LinkedIn Profile:</b> {{ user.linkedin }}</p>
        <p><b>GitHub Profile:</b> {{ user.github }}</p> -->

          <div>
            <h3>Connect with me:</h3>
            <a class="unique-button social" href="">LinkedIn</a>
            <a class="unique-button social" href="">GitHub</a>
            <a class="unique-button social" href="">Resume</a>
          </div>
        </div>
        <div class="left">
          <img src="{% static 'images/about-us.png' %}" alt="" />
        </div>
      </div>
      <div class="other-info">
        <div class="card">
          <div class="section-title">🎓 Education</div>
          <div class="section-content">
            <p><b>Degree:</b> {{ user.degree }}</p>
            <p><b>College / University:</b> {{ user.college }}</p>
            <p><b>Graduation Year:</b> {{ user.graduation_year }}</p>
          </div>
        </div>
        <div class="card">
          <div class="section-title">💼 Experience</div>
          <div class="section-content">
            <p><b>Company / Organization:</b> {{ user.company }}</p>
            <p><b>Role / Position:</b> {{ user.position }}</p>
            <p><b>Description:</b> {{ user.responsibilities }}</p>
          </div>
        </div>
        <div class="card">
          <div class="section-title">🚀 Projects</div>
          <div class="section-content">
            <p><b>Project Title:</b> {{ user.projects_title }}</p>
            <p><b>Project Description:</b> {{ user.project_desc }}</p>
            <p><b>Project Link:</b> {{ user.project_link }}</p>
          </div>
        </div>

        <div class="card">
          <div class="section-title">🧠 Skills</div>
          <div class="section-content">
            <p><b>Skills:</b> {{ user.skills }}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
